<a href="https://colab.research.google.com/github/psword/big-data-pipeline-sparky/blob/Data-view/mongodb_spark_colab_compatible.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ✅ PySpark + MongoDB Atlas (Compatible Setup for Google Colab)
This notebook uses Apache Spark **3.3.2** and MongoDB Spark Connector **10.1.1**, which are compatible.

In [2]:
# 📦 Step 1: Install Python dependencies
!pip install -q pyspark findspark pymongo

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.2/317.2 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 14.5 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [3]:
# ⚙️ Step 2: Install Java and Spark 3.3.2
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [1]:
# 🌱 Step 3: Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"
os.environ["MONGO_URI"] = "mongodb+srv://<username>:<password>@bigdata.kvauode.mongodb.net/tmdb?retryWrites=true&w=majority"

In [2]:
# 🚀 Step 4: Start Spark session
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MongoDBIntegration") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.1.1") \
    .config("spark.mongodb.read.connection.uri", os.environ["MONGO_URI"]) \
    .config("spark.mongodb.write.connection.uri", os.environ["MONGO_URI"]) \
    .getOrCreate()

In [3]:
# 📄 Step 5: Read from MongoDB
df = spark.read.format("mongodb") \
    .option("database", "tmdb") \
    .option("collection", "movies") \
    .load()

df.show(5)

+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|                 _id|adult|       backdrop_path|   budget|              genres|            homepage|    id|  imdb_id|            keywords|original_language| original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|    revenue|runtime|    spoken_languages|  status|             tagline|          title|vote_average|vote_count|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|67efc28f2da50f02e...|False|/8ZTVqvKDQ8emSGUE...|160000000|Action, Science F...|https://www.warne...| 27205|tt1375666|rescue, mission, ...|               en|      Inception|Cobb, a skilled t...|    83.952|/oYuLEt3zVCKq57qu...|Legendary Picture...|United Kingdom, U...|  2010-07-15|  825532764|    148|English, French, ...|Released|Your mind is the ...|      Inception|       8.364|     34495|
|67efc28f2da50f02e...|False|/nMKdUUepR0i5zn0y...|185000000|Drama, Action, Cr...|https://www.warne...|   155|tt0468569|joker, sadism, ch...|               en|The Dark Knight|Batman raises the...|   130.643|/qJ2tW6WMUDux911r...|DC Comics, Legend...|United Kingdom, U...|  2008-07-16| 1004558444|    152|   English, Mandarin|Released|Welcome to a worl...|The Dark Knight|       8.512|     30619|
|67efc28f2da50f02e...|False|/pbrkL804c8yAv3zB...|165000000|Adventure, Drama,...|http://www.inters...|157336|tt0816692|rescue, future, s...|               en|   Interstellar|The adventures of...|   140.241|/gEU2QniE6E77NI6l...|Legendary Picture...|United Kingdom, U...|  2014-11-05|  701729206|    169|             English|Released|Mankind was born ...|   Interstellar|       8.417|     32571|
|67efc28f2da50f02e...|False|/vL5LR6WdxWPjLPFR...|237000000|Action, Adventure...|https://www.avata...| 19995|tt0499549|future, society, ...|               en|         Avatar|In the 22nd centu...|    79.932|/kyeqWdyUXW608qlY...|Dune Entertainmen...|United States of ...|  2009-12-15|-1371261270|    162|    English, Spanish|Released|Enter the world o...|         Avatar|       7.573|     29815|
|67efc28f2da50f02e...|False|/en971MEXui9diirX...| 58000000|Action, Adventure...|https://www.20thc...|293660|tt1431045|superhero, anti h...|               en|       Deadpool|The origin story ...|    72.735|/zq8Cl3PNIDGU3iWN...|20th Century Fox,...|United States of ...|  2016-02-09|  783100000|    108|             English|Released|Witness the begin...|       Deadpool|       7.606|     28894|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
only showing top 5 rows

In [ ]:
# ⚙️ Step 6: Import Additional
from pyspark.sql.functions import col, desc

In [ ]:
# 🔥 Step 7: Process Data

# "Adult" column turned into boolean
df = df.withColumn('adult', col('adult').cast('boolean'))

# Print first 5 lines
print("First 5 movies")
df.show(5)

# Print 20 first movies with revenue over 1,000,000,000 (filter where adult == False)
print("First 20 movies with revenue over 1 billion")
over_billion_revenue = df.where(
    (col('revenue') > 1000000000) & (col('adult') == False)
)
over_billion_revenue.show(20)

# Print 10 movies with the highest revenue (filter where adult == False and vote_count > 1)
print("Top 10 movies with highest revenue")
highest_revenue = df.where((col('adult') == False) & (col('vote_count') > 1)).orderBy(desc('revenue'))
highest_revenue.show(10)