<a href="https://colab.research.google.com/github/psword/big-data-pipeline-sparky/blob/Data-view/mongodb_spark_colab_compatible.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚úÖ PySpark + MongoDB Atlas (Compatible Setup for Google Colab)
This notebook uses Apache Spark **3.3.2** and MongoDB Spark Connector **10.1.1**, which are compatible.

**mongodb_spark_dataView_co√∂ab_V4 Is compiling together:**
- Spark code that cleans dataset and make dataFrame. (Janika did)
- Connecting PySpark + MongoDB Atlas. (Philip did)
- Finally Data frame change from spark DataFrame to Pandas DataFrame and some visualization codes. (Satu did + Janika helped)

Then after these changes we make visualization by suing different charts and figures and for doing them we use pandas, matplotlib and seaborn.

With these visualizations we can analyse our data and look different information easily.

# Connecting MongoDB and Sparks

In [31]:
# üì¶ Step 1: Install Python dependencies
!pip install -q pyspark findspark pymongo

In [32]:
# ‚öôÔ∏è Step 2: Install Java and Spark 3.3.2
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [37]:
# üå± Step 3: Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"
os.environ["MONGO_URI"] = "mongodb+srv://satu20006:BCPvqNcXNRQo9Q3m@bigdata.kvauode.mongodb.net/tmdb?retryWrites=true&w=majority"

In [36]:
# üöÄ Step 4: Start Spark session
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MongoDBIntegration") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.1.1") \
    .config("spark.mongodb.read.connection.uri", os.environ["MONGO_URI"]) \
    .config("spark.mongodb.write.connection.uri", os.environ["MONGO_URI"]) \
    .getOrCreate()

ConnectionRefusedError: [Errno 111] Connection refused

In [5]:
# üìÑ Step 5: Read from MongoDB
df = spark.read.format("mongodb") \
    .option("database", "tmdb") \
    .option("collection", "movies") \
    .load()
# Show initial data
print("Initial data from MongoDB:")
df.show(5)

Initial data from MongoDB:
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|                 _id|adult|       backdrop_path|   budget|              genres|            homepage|    id|  imdb_id|            keywords|original_language| original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|    revenue|runtime|    spoken_languages|  status|             tagline|          title|vote_average|vote_count|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|67efc28f2da50f02e...|False|/8ZTVqvKDQ8emSGUE...|160000000|Action, Science F...|https://www.warne...| 27205|tt1375666|rescue, mission, ...|               en|      Inception|Cobb, a skilled t...|    83.952|/oYuLEt3zVCKq57qu...|Legendary Picture...|United Kingdom, U...|  2010-07-15|  825532764|    148|English, French, ...|Released|Your mind is the ...|      Inception|       8.364|     34495|
|67efc28f2da50f02e...|False|/nMKdUUepR0i5zn0y...|185000000|Drama, Action, Cr...|https://www.warne...|   155|tt0468569|joker, sadism, ch...|               en|The Dark Knight|Batman raises the...|   130.643|/qJ2tW6WMUDux911r...|DC Comics, Legend...|United Kingdom, U...|  2008-07-16| 1004558444|    152|   English, Mandarin|Released|Welcome to a worl...|The Dark Knight|       8.512|     30619|
|67efc28f2da50f02e...|False|/pbrkL804c8yAv3zB...|165000000|Adventure, Drama,...|http://www.inters...|157336|tt0816692|rescue, future, s...|               en|   Interstellar|The adventures of...|   140.241|/gEU2QniE6E77NI6l...|Legendary Picture...|United Kingdom, U...|  2014-11-05|  701729206|    169|             English|Released|Mankind was born ...|   Interstellar|       8.417|     32571|
|67efc28f2da50f02e...|False|/vL5LR6WdxWPjLPFR...|237000000|Action, Adventure...|https://www.avata...| 19995|tt0499549|future, society, ...|               en|         Avatar|In the 22nd centu...|    79.932|/kyeqWdyUXW608qlY...|Dune Entertainmen...|United States of ...|  2009-12-15|-1371261270|    162|    English, Spanish|Released|Enter the world o...|         Avatar|       7.573|     29815|
|67efc28f2da50f02e...|False|/en971MEXui9diirX...| 58000000|Action, Adventure...|https://www.20thc...|293660|tt1431045|superhero, anti h...|               en|       Deadpool|The origin story ...|    72.735|/zq8Cl3PNIDGU3iWN...|20th Century Fox,...|United States of ...|  2016-02-09|  783100000|    108|             English|Released|Witness the begin...|       Deadpool|       7.606|     28894|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
only showing top 5 rows

In [6]:
# ‚öôÔ∏è Step 6: Import Additional
from pyspark.sql.functions import col, desc


# Untill this it's modngo and spark that Philip did

# Data cleaning

This part if from Janikas Spark code

In [25]:
#Step 7 Data cleaning

# Import libraries
import os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType

#Reading data from mongoDB again just in case and change name from df to df_movies
df_movies = spark.read.format("mongodb") \
    .option("database", "tmdb") \
    .option("collection", "movies") \
    .load()
# Show initial data
print("Initial data from MongoDB:")
df.show(5)

# Convert minutes to hours and minutes
def convert_to_hours_minutes(runtime):
    if runtime is not None:
        hours, minutes = divmod(runtime, 60)
        return f'{hours}:{minutes:02d}'
    return None

# Define UDF
convert_udf = udf(convert_to_hours_minutes, StringType())

print("Step 7 first box is done")
df_movies.select("runtime").show()
print(type(df_movies))

Initial data from MongoDB:
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|                 _id|adult|       backdrop_path|   budget|              genres|            homepage|    id|  imdb_id|            keywords|original_language| original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|    revenue|runtime|    spoken_languages|  status|             tagline|          title|vote_average|vote_count|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
|67efc28f2da50f02e...|False|/8ZTVqvKDQ8emSGUE...|160000000|Action, Science F...|https://www.warne...| 27205|tt1375666|rescue, mission, ...|               en|      Inception|Cobb, a skilled t...|    83.952|/oYuLEt3zVCKq57qu...|Legendary Picture...|United Kingdom, U...|  2010-07-15|  825532764|    148|English, French, ...|Released|Your mind is the ...|      Inception|       8.364|     34495|
|67efc28f2da50f02e...|False|/nMKdUUepR0i5zn0y...|185000000|Drama, Action, Cr...|https://www.warne...|   155|tt0468569|joker, sadism, ch...|               en|The Dark Knight|Batman raises the...|   130.643|/qJ2tW6WMUDux911r...|DC Comics, Legend...|United Kingdom, U...|  2008-07-16| 1004558444|    152|   English, Mandarin|Released|Welcome to a worl...|The Dark Knight|       8.512|     30619|
|67efc28f2da50f02e...|False|/pbrkL804c8yAv3zB...|165000000|Adventure, Drama,...|http://www.inters...|157336|tt0816692|rescue, future, s...|               en|   Interstellar|The adventures of...|   140.241|/gEU2QniE6E77NI6l...|Legendary Picture...|United Kingdom, U...|  2014-11-05|  701729206|    169|             English|Released|Mankind was born ...|   Interstellar|       8.417|     32571|
|67efc28f2da50f02e...|False|/vL5LR6WdxWPjLPFR...|237000000|Action, Adventure...|https://www.avata...| 19995|tt0499549|future, society, ...|               en|         Avatar|In the 22nd centu...|    79.932|/kyeqWdyUXW608qlY...|Dune Entertainmen...|United States of ...|  2009-12-15|-1371261270|    162|    English, Spanish|Released|Enter the world o...|         Avatar|       7.573|     29815|
|67efc28f2da50f02e...|False|/en971MEXui9diirX...| 58000000|Action, Adventure...|https://www.20thc...|293660|tt1431045|superhero, anti h...|               en|       Deadpool|The origin story ...|    72.735|/zq8Cl3PNIDGU3iWN...|20th Century Fox,...|United States of ...|  2016-02-09|  783100000|    108|             English|Released|Witness the begin...|       Deadpool|       7.606|     28894|
+--------------------+-----+--------------------+---------+--------------------+--------------------+------+---------+--------------------+-----------------+---------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-----------+-------+--------------------+--------+--------------------+---------------+------------+----------+
only showing top 5 rows

Step 7 first box is done
+-------+
|runtime|
+-------+
|    148|
|    152|
|    169|
|    162|
|    108|
|    143|
|    139|
|    149|
|    154|
|    121|
|    142|
|    126|
|    152|
|    165|
|    142|
|    181|
|    136|
|    122|
|    179|
|    194|
+-------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [26]:
# Cleaning it self happens here and this we need to copy when we have some other criterias clean than is done in this one

# Turn "adult" column into boolean
df_movies = df_movies.withColumn('adult', col('adult').cast('boolean'))

# Round average vote score to 2 decimals
df_movies = df_movies.withColumn('vote_average2', round(df_movies.vote_average, 2))

# Reformat release date and runtime
df_movies = df_movies.withColumn('release_date', date_format('release_date', 'dd/MM/yyyy'))
#df_movies = df_movies.withColumn('runtime', convert_udf(col('runtime')))

# Reorder columns
df_movies = df_movies.select('title', 'vote_average2', 'release_date', 'revenue',
                            'budget', 'runtime', 'genres', 'production_companies')

# Rename columns
df_movies = df_movies.withColumnRenamed('title', 'Title') \
    .withColumnRenamed('vote_average2', 'Average Vote Score') \
    .withColumnRenamed('release_date', 'Release Date') \
    .withColumnRenamed('revenue', 'Revenue') \
    .withColumnRenamed('budget', 'Budget') \
    .withColumnRenamed('runtime', 'Length') \
    .withColumnRenamed('genres', 'Genres') \
    .withColumnRenamed('production_companies', 'Production Companies')

# Drop unneeded columns
df_movies = df_movies.drop('id', 'vote_average', 'vote_count', 'status', 'adult',
                'backdrop_path', 'homepage', 'imdb_id', 'original_language',
                'original_title', 'overview', 'popularity', 'poster_path',
                'tagline', 'production_countries', 'spoken_languages', 'keywords')

print(type(df_movies))

<class 'pyspark.sql.dataframe.DataFrame'>

# Data Visualization codes

Step 8 Have many styles to convers Spark DataFrame into Pandas DtataFrame, For most we can use df_movies but I still keep other styles there as comments so if needed we can use those also.

There is also limit now that its avoiding loading too much data with that command df.limit(1000), this way code is littlebit faster

In [27]:
print(type(df_movies))

<class 'pyspark.sql.dataframe.DataFrame'>

In [30]:
#Step 8 Conversing Spark dDtaFrame to pandas DataFrame


# Convert Spark DataFrame to Pandas DataFrame when name is pf_pd
#df_pd = df.limit(1000).toPandas()  # Avoid loading too much data into memory

# For larger datasets, aggregate first in Spark
#agg_data = final_df.groupBy('genre').agg(
#    avg('budget').alias('avg_budget'),
#    avg('revenue').alias('avg_revenue')
#).toPandas()

# Convert the PySpark DataFrame to a Pandas DataFrame when name is viz_data
#viz_data = df_movies.toPandas()  # Convert PySpark DataFrame to Pandas
#viz_data = viz_data[:1000]    # Limit to the first 1000 rows
viz_data = df.limit(1000).toPandas()  # Avoid loading too much data into memory

# Convert the PySpark DataFrame to a Pandas DataFrame when name is df_movies
df_movies = df_movies.toPandas()  # Convert PySpark DataFrame to Pandas
df_movies = df_movies[:1000]    # Limit to the first 1000 rows

# Convert the PySpark DataFrame to a Pandas DataFrame when name is pdf_movies
pdf_movies = df_movies.toPandas()  # Convert PySpark DataFrame to Pandas
pdf_movies = pdf_movies[:1000]    # Limit to the first 1000 rows

#df_movies_limited = df_movies.limit(1000)  # Limit rows in PySpark
#pdf_movies = df_movies_limited.toPandas()  # Then convert to Pandas
print("Converting from spark DataFrame to Pandas DataFrame id done")

print(type(df_movies))

Py4JJavaError: An error occurred while calling o253.collectToPython.
: com.mongodb.spark.sql.connector.exceptions.MongoSparkException: Partitioning failed. Partitioner calling collStats command failed
	at com.mongodb.spark.sql.connector.read.MongoInputPartitionHelper.generateMongoBatchPartitions(MongoInputPartitionHelper.java:77)
	at com.mongodb.spark.sql.connector.read.MongoBatch.planInputPartitions(MongoBatch.java:54)
	at org.apache.spark.sql.execution.datasources.v2.BatchScanExec.inputPartitions$lzycompute(BatchScanExec.scala:54)
	at org.apache.spark.sql.execution.datasources.v2.BatchScanExec.inputPartitions(BatchScanExec.scala:54)
	at org.apache.spark.sql.execution.datasources.v2.DataSourceV2ScanExecBase.supportsColumnar(DataSourceV2ScanExecBase.scala:142)
	at org.apache.spark.sql.execution.datasources.v2.DataSourceV2ScanExecBase.supportsColumnar$(DataSourceV2ScanExecBase.scala:141)
	at org.apache.spark.sql.execution.datasources.v2.BatchScanExec.supportsColumnar(BatchScanExec.scala:36)
	at org.apache.spark.sql.execution.datasources.v2.DataSourceV2Strategy.apply(DataSourceV2Strategy.scala:143)
	at org.apache.spark.sql.catalyst.planning.QueryPlanner.$anonfun$plan$1(QueryPlanner.scala:63)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at org.apache.spark.sql.catalyst.planning.QueryPlanner.plan(QueryPlanner.scala:93)
	at org.apache.spark.sql.execution.SparkStrategies.plan(SparkStrategies.scala:69)
	at org.apache.spark.sql.catalyst.planning.QueryPlanner.$anonfun$plan$3(QueryPlanner.scala:78)
	at scala.collection.TraversableOnce$folder$1.apply(TraversableOnce.scala:196)
	at scala.collection.TraversableOnce$folder$1.apply(TraversableOnce.scala:194)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.TraversableOnce.foldLeft(TraversableOnce.scala:199)
	at scala.collection.TraversableOnce.foldLeft$(TraversableOnce.scala:192)
	at scala.collection.AbstractIterator.foldLeft(Iterator.scala:1431)
	at org.apache.spark.sql.catalyst.planning.QueryPlanner.$anonfun$plan$2(QueryPlanner.scala:75)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at org.apache.spark.sql.catalyst.planning.QueryPlanner.plan(QueryPlanner.scala:93)
	at org.apache.spark.sql.execution.SparkStrategies.plan(SparkStrategies.scala:69)
	at org.apache.spark.sql.execution.QueryExecution$.createSparkPlan(QueryExecution.scala:459)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$sparkPlan$1(QueryExecution.scala:145)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:111)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:185)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:185)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:184)
	at org.apache.spark.sql.execution.QueryExecution.sparkPlan$lzycompute(QueryExecution.scala:145)
	at org.apache.spark.sql.execution.QueryExecution.sparkPlan(QueryExecution.scala:138)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executedPlan$1(QueryExecution.scala:158)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:111)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:185)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:185)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:184)
	at org.apache.spark.sql.execution.QueryExecution.executedPlan$lzycompute(QueryExecution.scala:158)
	at org.apache.spark.sql.execution.QueryExecution.executedPlan(QueryExecution.scala:151)
	at org.apache.spark.sql.execution.QueryExecution.simpleString(QueryExecution.scala:204)
	at org.apache.spark.sql.execution.QueryExecution.org$apache$spark$sql$execution$QueryExecution$$explainString(QueryExecution.scala:249)
	at org.apache.spark.sql.execution.QueryExecution.explainString(QueryExecution.scala:218)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3685)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: com.mongodb.spark.sql.connector.exceptions.MongoSparkException: Partitioner calling collStats command failed
	at com.mongodb.spark.sql.connector.read.partitioner.PartitionerHelper.storageStats(PartitionerHelper.java:117)
	at com.mongodb.spark.sql.connector.read.partitioner.SamplePartitioner.generatePartitions(SamplePartitioner.java:103)
	at com.mongodb.spark.sql.connector.read.MongoInputPartitionHelper.generateMongoBatchPartitions(MongoInputPartitionHelper.java:45)
	... 68 more
Caused by: com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting for a server that matches com.mongodb.client.internal.MongoClientDelegate$1@18096e41. Client view of cluster state is {type=REPLICA_SET, servers=[{address=ac-t28aye1-shard-00-02.kvauode.mongodb.net:27017, type=UNKNOWN, state=CONNECTING}, {address=ac-t28aye1-shard-00-01.kvauode.mongodb.net:27017, type=UNKNOWN, state=CONNECTING}, {address=ac-t28aye1-shard-00-00.kvauode.mongodb.net:27017, type=UNKNOWN, state=CONNECTING}]
	at com.mongodb.internal.connection.BaseCluster.createTimeoutException(BaseCluster.java:428)
	at com.mongodb.internal.connection.BaseCluster.selectServer(BaseCluster.java:125)
	at com.mongodb.internal.connection.AbstractMultiServerCluster.selectServer(AbstractMultiServerCluster.java:54)
	at com.mongodb.client.internal.MongoClientDelegate.getConnectedClusterDescription(MongoClientDelegate.java:146)
	at com.mongodb.client.internal.MongoClientDelegate.createClientSession(MongoClientDelegate.java:101)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.getClientSession(MongoClientDelegate.java:291)
	at com.mongodb.client.internal.MongoClientDelegate$DelegateOperationExecutor.execute(MongoClientDelegate.java:183)
	at com.mongodb.client.internal.MongoIterableImpl.execute(MongoIterableImpl.java:133)
	at com.mongodb.client.internal.MongoIterableImpl.iterator(MongoIterableImpl.java:90)
	at com.mongodb.client.internal.MongoIterableImpl.first(MongoIterableImpl.java:101)
	at com.mongodb.spark.sql.connector.read.partitioner.PartitionerHelper.lambda$storageStats$0(PartitionerHelper.java:107)
	at com.mongodb.spark.sql.connector.config.AbstractMongoConfig.withCollection(AbstractMongoConfig.java:173)
	at com.mongodb.spark.sql.connector.config.ReadConfig.withCollection(ReadConfig.java:45)
	at com.mongodb.spark.sql.connector.read.partitioner.PartitionerHelper.storageStats(PartitionerHelper.java:102)
	... 70 more

# Adding visualization codes

## Plot Chart

Revenue vs Budget scatter plot

In [ ]:
import matplotlib.pyplot as plt

# Filter out rows where budget or revenue is 0 or null and convert to Pandas DataFrame
viz_data = df_movies.filter((df_movies['Budget'] > 0) & (df_movies['Revenue'] > 0)).toPandas()

# Convert values to millions for better readability
viz_data['Budget'] = viz_data['Budget'] / 1e6
viz_data['Revenue'] = viz_data['Revenue'] / 1e6

# Create the scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(viz_data['Budget'], viz_data['Revenue'], alpha=0.5, color='blue')
plt.title("Budget vs Revenue Correlation")
plt.xlabel("Budget (Million USD)")
plt.ylabel("Revenue (Million USD)")

# Set axis limits from 0 to 100 million USD
plt.xlim(0, 220)  # Budget axis: 0 to 100 million USD
plt.ylim(0, 220)  # Revenue axis: 0 to 100 million USD

plt.grid(True)
plt.tight_layout()
plt.show()

## Pie chart

Top 10 years that released the most movies

In [ ]:
#Pie chart test
import pandas as pd

# VISUALIZATIONS USING toPandas()
# ======================================================================

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
#pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

top_years = pdf_movies['Release Year'].value_counts().head(10)
plt.figure(figsize=(8, 8))
plt.pie(top_years, labels=top_years.index, autopct='%1.1f%%', startangle=140)
plt.title('Top 10 Years with Most Movies Released')
plt.show()

## Tablet

Table of 50 most voted movies (Title + Genre)

In [ ]:
# Importin librarys so we have all of them just in case
import os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# VISUALIZATIONS USING toPandas()
# ======================================================================

#Converting to Pandas dataFrame have already done

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

# Making table
most_voted = pdf_movies.nlargest(50, 'vote_count')[['Title', 'Genres']]
print("50 Most Voted Movies:")
display(most_voted)

## Count how many columns and rows you kept

In [ ]:
# Importin librarys so we have all of them just in case
import os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# VISUALIZATIONS USING toPandas()
# ======================================================================

#Converting to Pandas dataFrame have already done

# Optional: do this before cleaning to compare
original = pd.read_csv(df)
print(f"Original columns: {original.shape[1]}, cleaned: {pdf_movies.shape[1]}")
print(f"Original rows: {original.shape[0]}, cleaned: {pdf_movies.shape[0]}")

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

#Printing result
print("\nData Cleaning Stats:")
print(f"Number of columns kept: {pdf_movies.shape[1]}")
print(f"Number of rows (movies) kept: {pdf_movies.shape[0]}")

## Bar Chart

Top 20 least favorite movies

In [ ]:
# Importin librarys so we have all of them just in case
import os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# VISUALIZATIONS USING toPandas()
# ======================================================================

#Converting to Pandas dataFrame have already done

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

# Converting 'Average Vote Score' to a numeric value
pdf_movies['Average Vote Score'] = pd.to_numeric(pdf_movies['Average Vote Score'], errors='coerce')

# Filtering
filtered = pdf_movies[
    (pdf_movies['Average Vote Score'] > 0) &
    (pdf_movies['vote_count'] >= 100) &
    (pdf_movies['adult'] == False)
]

least_favorite = filtered.nsmallest(20, 'Average Vote Score')[['Title', 'Average Vote Score']]

plt.figure(figsize=(12, 6))
plt.barh(least_favorite['Title'], least_favorite['Average Vote Score'], color='orange')
plt.title('Top 20 Least Favorite Movies with at least 100 votes')
plt.xlabel('Average Vote Score')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

## Pie Chart 2

How many different languages there are

In [ ]:
# Importin librarys so we have all of them just in case
port os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# VISUALIZATIONS USING toPandas()
# ======================================================================

#Converting to Pandas dataFrame have already done

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

#Making chart
language_counts = pdf_movies['original_language'].value_counts()
plt.figure(figsize=(10, 8))
language_counts.head(10).plot(kind='pie', autopct='%1.1f%%', startangle=140)
plt.title('Top 10 Languages in Movies')
plt.ylabel('')
plt.show()

# Total number of unique languages:
print(f"Total different languages: {pdf_movies['original_language'].nunique()}")

## Bar Chart in hours

Top 5 movies by runtime

In [ ]:
# Importin librarys so we have all of them just in case
import os.path
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, desc, round, date_format, format_number, regexp_replace
from pyspark.sql.types import StringType
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# VISUALIZATIONS USING toPandas()
# ======================================================================

#Converting to Pandas dataFrame have already done

# Data cleaning for visualization
pdf_movies['Revenue'] = pdf_movies['Revenue'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Budget'] = pdf_movies['Budget'].astype(str).str.replace(' ', '').replace('None', '0').astype(float)
pdf_movies['Release Year'] = pd.to_datetime(pdf_movies['Release Date'], format='%d/%m/%Y').dt.year
pdf_movies['Runtime_min'] = pdf_movies['Length'].str.split(':').apply(lambda x: int(x[0])*60 + int(x[1]) if isinstance(x, list) else 0)

#Making chart
top_runtime = pdf_movies.nlargest(5, 'Runtime_min')[['Title', 'Runtime_min']]
top_runtime['Runtime_hours'] = (top_runtime['Runtime_min'] / 60)
plt.figure(figsize=(10, 4))
plt.barh(top_runtime['Title'], top_runtime['Runtime_hours'], color='green')
plt.title('Top 5 Longest Movies by Runtime')
plt.xlabel('Runtime (hours)')
plt.gca().invert_yaxis()
plt.show()